<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-zeroconf-plugin"
        version="1.2.0">
    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <name>ZeroConf</name>
    <description>ZeroConf plugin for Cordova/Phonegap</description>
    <author>Vlad Stirbu</author>
    <keywords>zeroconf</keywords>
    <license>MIT</license>

    <js-module src="www/ZeroConf.js" name="zeroconf">
        <clobbers target="ZeroConf" />
    </js-module>

    <platform name="android">

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
            <uses-permission android:name="android.permission.INTERNET" />
			      <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
        </config-file>

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="ZeroConf">
                <param name="android-package" value="com.triggertrap.ZeroConf" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <framework src="javax.jmdns:jmdns:+"/>

        <source-file src="src/android/ZeroConf.java" target-dir="src/com/triggertrap" />

    </platform>
    <info></info>
</plugin>
